<html>
<head>
	<title>TESt</title>
	<script src="http://172.16.5.162:3000/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
	<h1 id="session_id"></h1>
	<input type="text" id="address_bar">
	<button id="submit">Submit</button>
	<script type="text/javascript">
		var socket = io.connect();
		$('#submit').click(function() {
			var url = $('#address_bar').val();
			if (url.indexOf('http://') != 0) url = "http://" + url;
			socket.emit('pageLoad', url);
		});
		function getId(){
			socket.on('server-incoming_id', function(data){
				$('#session_id').text(data);
			});
			socket.emit("server-get_session_id");
		}
		getId()
	</script>
</body>
</html>